.postcard {
   @apply p-2 pt-1 max-w-xs h-40 w-full
          flex flex-col flex-shrink-0 content-start
          bg-alternate bg-opacity-30 rounded-sm overflow-hidden;
}

.postcard-load {
   @apply postcard animate-pulse bg-opacity-5;
}

.head {
   grid-column: 1 / 4;
   grid-row: 1 / 1;
   @apply align-middle min-w-min py-1;
}

.title {
   @apply text-left text-primary text-3xl font-bold
          inline-block leading-none cursor-pointer
}

.author {
   @apply text-left text-normal leading-none font-semibold;
}

.post-preview-context {
   @apply col-span-3 leading-none text-sm text-regular font-normal overflow-hidden
          h-full select-none;
   -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.actions {
   @apply flex flex-grow justify-self-end justify-around items-end
}

.votes {
   @apply flex justify-between gap-2 w-1/4;
}

.vote-icon {
   @apply transform fill-current stroke-current cursor-pointer;
}

.vote-up { @apply rotate-0 }
.vote-down { @apply rotate-180 }

.vote-count {
   @apply text-regular font-semibold text-sm leading-tight
}

.comments {
   @apply flex justify-around items-center w-1/6;
}

.comment-icon {
   @apply h-full text-normal fill-current stroke-current
}

.comment-count {
   @apply text-regular font-semibold text-sm
}

.age {
   @apply flex justify-around items-center space-x-2 w-1/6
}

.age-icon {
   @apply h-full text-normal fill-current stroke-current
}

.age-count {
   @apply text-regular font-semibold text-sm
}