.user-ctn {
   grid-template-rows: 6rem auto auto;
   grid-template-columns: 100%;
   @apply max-w-xl w-full min-w-min self-center
          grid place-content-center select-none
          bg-regular bg-opacity-10 ring-1 ring-primary rounded-sm
          p-2
}

.user-header {
   @apply flex items-center gap-1 w-full justify-start
}

.user-pic {
   @apply ring-secundary ring-2 w-20 h-20 bg-normal bg-opacity-10
          mx-2
}

.user-pic-loading {
   @apply user-pic animate-pulse
}

.user-name-area {
   @apply flex items-center gap-3
}

.user-name {
   @apply text-4xl text-primary font-bold bg-opacity-0 px-1 py-2 mt-0 outline-none break-all
}

.user-name-edit-icon {
   @apply w-6 h-6 text-regular fill-current stroke-current inline
          transition-opacity lg:opacity-0 group-hover:opacity-80 opacity-50
}

.user-name-loading {
   @apply animate-pulse rounded-full bg-primary bg-opacity-20
          h-11 w-40 transform translate-y-1
}

.user-bio-area {
   @apply px-2 pt-1 flex items-center
}

.user-bio {
   @apply text-normal text-opacity-90 text-lg outline-none leading-relaxed break-words
}

.bio-edit-icon {
   @apply user-name-edit-icon mb-1 ml-1 h-5 w-5 flex-shrink-0
}

.user-bio-loading {
   @apply flex flex-col gap-2 transform translate-y-2
}

.bio-loading-text {
   @apply animate-pulse bg-normal bg-opacity-10 w-full h-5 rounded-full
}

.editing-status-area {
   @apply flex justify-start gap-5 pl-3 pt-3
}

.status-btn {
   @apply px-1 flex justify-between w-min gap-1 h-8
          rounded-sm text-lg items-center text-center font-semibold
          
}

.save-btn {
   @apply bg-primary
}

.cancel-btn {
   @apply bg-error bg-opacity-90
}

.status-icon {
   @apply w-6 h-6 inline transform scale-125
          text-background fill-current stroke-current
}

.cancel-icon {
   @apply transform scale-90
}

.loading-icon {
   @apply w-6 h-6 inline
          text-background fill-current stroke-current animate-spin        
}

.status-msgs {
   @apply mt-1
}

.status-msg {
}