.sidebar {
   @apply flex flex-col bg-primary fixed p-2
          transition-transform transform
          w-32 h-screen inset-0 select-none
}

.sb-active { @apply translate-x-0 }
.sb-inactive { @apply -translate-x-full }

.tgl-btn {
   @apply fixed h-10 w-10 bg-primary right-3 bottom-3 rounded-full
          filter drop-shadow-sm
          flex justify-center items-center
}

.tgl-icon {
   @apply text-background fill-current w-1/2 h-1/2
          transition-transform transform
}

.tgl-active { @apply rotate-180 }
.tgl-inactive { @apply rotate-0 }

.item {
   @apply h-8 mt-2 p-1 bg-normal rounded-sm bg-opacity-50
}

.tag {
   @apply text-alternate text-xl font-medium inline-block
          h-full ml-2 leading-none align-top
}

.icon {
   @apply inline-block float-left h-full w-auto
}
